@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.container{
  width: 70%;
  margin:0% 15%;
  margin-top: 15%;
}
h1{
  font-weight: 700;
  font-size: large;
  line-height: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.page{
  line-height: 30px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
li{
  font-family: 'Times New Roman', Times, serif;
  
}


@media (max-width: 768px) {
  .container{
      width: 90%;
      margin: 20px;
      margin-top: 25%;
  }
  .iconimg{
    width: 80px;
    height: 60px;
  }
  .page{
    line-height: 30px;
    
   
  }
  
 
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

